/* @xs_only: ~"screen and (max-width: 599px)";
@sm: ~"screen and (min-width: 600px)";

@light_grey_bg: #fafafa;
@light_grey_border: #ddd; */
  
.responsive-table {
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;

  
    
  }
  /*  */
  
  tr {
    border: 1px solid #fafafa;
    border-bottom: 2px solid #ddd;
    padding: 5px;
    margin-bottom: 10px;
    display: block;
    @media screen and (min-width: 600px) {
      display: table-row;
      border-bottom-width: 1px;
      margin-bottom: 0;
      
      tr :nth-child(even) {
        background:#fafafa;
      }
    }
  }
  
  th,
  td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    text-transform: uppercase;
    font-size: 11px;
  }
    
  td {
    display: block;
    text-align: right;
    font-size: 13px;
    border-bottom: 1px dotted #ddd;
    
    /* td :last-child {
        border-bottom: none;
    } */
      
    @media screen and (min-width: 600px) {
      display: table-cell;
      text-align: left;
      font-size: 14px;
      border-bottom: none;
    }
  }
    
  td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    @media screen and (min-width: 600px) {
      content: "";
      display: none;
    }
  }

